hr {
  border: none;
  height: 1px;
  color: #2d3436; /* old IE */
  background-color: #2d3436; /* Modern Browsers */
}

.card {
  width: 20em;
  background-color: #feca57;
}

.card_title:hover {
  cursor: pointer;
  color: #74b9ff;
  font-size: 1.04em;
}
